* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #fafafa;
    color: #333;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
    background: #2b1e16;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    color: #fff;
}

.nav a {
    margin-left: 25px;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
}

/* HERO */
.hero {
    height: 25vh; /* chiếm toàn màn hình */
    background: url("../img/coffee-bg.jpg") center/cover no-repeat;

    display: flex;
    justify-content: center; /* căn giữa ngang */
    align-items: center;     /* căn giữa dọc */
}

.hero-box {
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 40px 50px;
    max-width: 450px;
}

.hero-box h1 {
    font-size: 36px;
    margin-bottom: 15px;
}

.hero-box p {
    font-size: 16px;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    background: #c7a17a;
    color: #000;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
}


/* ABOUT */
.about {
    padding: 60px;
    text-align: center;
}

.about h2 {
    margin-bottom: 20px;
}

/* PRODUCTS */
.products {
    padding: 60px;
    background: #fff;
}

.product-list {
    display: flex;
    gap: 30px;
    margin-top: 30px;
}

.product {
    background: #f5f5f5;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
}

.product img {
    width: 100%;
    border-radius: 8px;
}

/* FOOTER */
.footer {
    background: #2b1e16;
    color: #fff;
    display: flex;
    justify-content: space-around;
    padding: 40px 20px;
}

.footer-box h4 {
    margin-bottom: 10px;
}
